<div class="row">
  <!-- detail 1 - datetime1 -->
  <div class="col">
    <!-- title -->
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between">
          <h4 id="detail_title">mantenimiento de adminplat/servicio( change dynamically)</h4> 
          <a href="newitem.php" id="create_blog">
            <i class="bi-plus-circle-fill" style="font-size: 2rem; color:chartreuse"  title="new Blog"></i>
          </a>
          <button class="btn btn-success" id="delete_project">Delete</button>
        </div>
      </div>
    </div>
    <!-- search detail -->
    <div class="row">
      <input type="text" name="search_detail" placeholder="search in detail list">
    </div>

    <!-- Description -->
    <div id="detail_desc"></div>
    <!--
    <div class="list-group list-group-flush">
    
    <a href="#" class="list-group-item list-group-item-action">
    <small>10 de mayo de 2021 15:35</small>
      <div class="">
      modificación de ServiceController.php. Subida al repo, pendiente revisar en producción.
      </div>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
    <small>11 de mayo de 2021 16:10</small>
      <div class="">
      Agregar un nuevo servidor para mozambique en db.php, subir al repo y a producción.
      </div>
    </a>
    </div>
    -->
  </div>
</div>