{%verbatim%}
<div id="template-mst" style="display:none">
<!-- templates id name's must follow rule:
 tpl_MODULE_ACTION, example:
 tpl_project_list 
 -->
  <div id="tpl_project_list">
    {{# . }}
        <!-- list of project items-->
        <a href="{{ url }}" class="project_detail list-group-item list-group-item-action" aria-current="true" data-id="{{ id }}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
            {{ name }}
            </h5>
            <small>{{ num_blogs }} items</small>
          </div>
          <p class="mb-1"> {{ last_blog.text }}</p>
          {{!  { {# days_ago } }
           <small>hace { { days_ago  } } dias</small>  
          { {/ days_ago } }
          }}
          <small>{{ days_ago }}</small>
        </a>
    {{/. }}
    {{^. }}
      <p>No projects are available.</p>
    {{/.}}  

  </div>

<div id="tpl_block_project_create">
 <!-- <div class="col">-->
    <form method="post" action="{{ url }}">
      <div class="mb-3">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name" placeholder="Write name of project">
      </div>

      <div class="mb-3">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" placeholder="write new text here" rows="2" cols="60" ></textarea>
      </div>

      {{{ csrf }}}
      <button type="button" class="btn btn-success" id="link_submit_project_create">Add Project</button>
    </form>
  <!-- </div> -->
</div>

<div id="tpl_project_detail">
 <div class="border-bottom">
  <div class="d-flex justify-content-between">
    <h4 id="detail_title">{{ name }}</h4> 
    <a href="{{ url_project_delete }}" id="link_project_delete">
      <i class="bi-x-circle-fill" style="font-size: 1.5rem; color:red"  title="Delete this project"></i>
    </a>
  </div>

  <!-- Description -->
  <div id="detail_desc">{{ description }}</div>
 </div>   
</div>

<div id="tpl_blog_list">
  {{# .}}
  <a href="#" class="list-group-item list-group-item-action">
  <div class="row justify-content-between">
    <div class="col">
      <small>{{ creat_date }} </small>
    </div>
    <div class="col-2 text-end link_delete_blog" data-url_delete_blog="{{ url_delete_blog }}">
      <i class="bi-x-circle-fill" style="font-size: 1rem; color:red"  title="Delete this Blog"></i>
    </div>
  </div>  
  <div class="">
    {{ text }} 
  </div>
  </a>
  {{/ .}}
  {{^.}}
    No blogs available.
  {{/.}}
</div>

<div id="tpl_link_blog_create">
  <a href="{{ url }}" id="link_block_blog_create" data-project-id="{{id }}"> 
    <i class="bi-plus-circle-fill" style="font-size: 2rem; color:chartreuse"  title="New Blog"></i>
  </a>
</div>

<div id="tpl_block_blog_create">
  <div class="col">
    <form method="post" action="{{ url }}">
      <label for="blog">New Blog</label>
      <textarea class="form-control" name="text" placeholder="write new text here" rows="2" cols="60" ></textarea>
      {{{ csrf }}}
      <button type="button" class="btn btn-success" id="link_submit_blog_create">Add Blog</button>
      <input type="hidden" name="project_id" value="{{ project_id }}">
    </form>
  </div>
</div>

</div>
<!-- parent hidden-->
{%endverbatim%}