{% extends 'base.html' %}
{% load static %} 
{% block content %}
<div class="row align-justify-between">
  <div class="col-10">
    <h1>List Blogs</h1>
  </div>

  <div class="col text-end">
     <a href="{% url 'blogwapp:blog-add' project_id %}" id="link_block_blog_create"> 
      <i class="bi-plus-circle-fill" style="font-size: 2rem; color:chartreuse"  title="New Blog"></i>
    </a>
  </div>
</div>

<div class="col">
  <form action="{% url 'projectapi:blog-list' %}" id="search_blog" class="row gy-2 gx-2 align-items-center">
    <div class="col-10">
      <div class="input-group">
      <input class="form-control" type="search" name="text" placeholder="search in blogs" aria-label="text" aria-describedby="text">
      <input type="hidden" name="project_id" value="{{project_id}}">
      <button class="btn btn-outline-secondary" type="button" id="link_clear_search_blog" title="clear search">
        <i class="bi bi-x-circle-fill"></i>  
      </button>
      </div> 
    </div>  

    <div class="col-2">
      <button type="button" class="btn btn-success" id="link_search_blog">Search</button>
    </div>  
      <input type="hidden" name="project_id" value="" class="{{ project_id }}">
  </form>
</div>

<a class="hidden" id="url_blogs" href="{% url 'projectapi:blog-list' %}?project_id={{project_id}}"></a>
<div class="list-group list-group-flush" id="tgt_blog_list">
</div>

  <script src="{% static 'blogwapp/js/mustache.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'blogwapp/js/model.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'blogwapp/js/projectc.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'blogwapp/js/blogc.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'blogwapp/js/main.js' %}" ></script>
<script src="{% static 'blogwapp/js/blogload.js' %}"></script>
{% include "../templatemst.html" %}
{% endblock %}